.container {					
 font-size: 14px;
}

					
.container .header {
  font-size: 18px;		
}

.container .shop-list {				
  list-style: none;
  margin-left: -15px;
}

					
.container .shop-list li.item-green {
  color: green;				
}

.container .shop-list li.item-blue {				
/* Explain why does this color not works, and how to fix make it work on 1st list */				
  color: blue;
}

li:nth-child(even) { 
    background-color: Lightgreen; 
} 

li:nth-child(odd) { 
  background-color: lightcyan; 
} 